.WebAppInfos {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 8rem;
  padding: 1rem;

}

.WebAppInfos li{
  margin: 0.5rem;
}


.Dosirak {
    max-width: 30rem;
    display: block;
    margin-bottom: 2rem;
    border-radius: 2rem;
}

.Tech {
  display: inline-block;
}
.Tech img{
  height: 30%;
  max-width: 100px;
  object-fit: contain;
  margin: 0.2rem;
}

.Github {
  padding: 3rem;
  padding-bottom: 0.5rem;
  width: 10rem;
  margin: auto;
}

.GithubParag {
  margin: auto;
  font-size: 1.2rem;
  text-align: center;
}

@media(min-width: 1200px){
  .WebAppInfos {
    flex-basis: 50%;
  }
  
}


