.WebAppInfos {
  display: block;
  height: 100%;
  width: 100%;
  margin-top: 8rem;
  padding: 1rem;
}

.MyPhoto {
    width: 70%;
    border-radius: 50%;
    display: block;
    margin: 1rem;
    max-width: 20rem;
}

.Dosirak {
    max-width: 30rem;
    display: block;
    margin-bottom: 2rem;
    border-radius: 2rem;
}

.Tech {
  display: inline-block;
}
.Tech img{
  height: 30%;
  max-width: 100px;
  object-fit: contain;
  margin: 0.2rem;
}


