.Input {
  position: relative;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.InputBox {
  padding: 1rem;
  border: 1px solid grey;
  width: 100%;
  box-sizing: border-box;
  font-size: inherit;
}

.InputBox:focus,
.InputBox:active{
    border: 1px solid #f0932b;
}

.Invalid {
  color: #ff7979;
  position: absolute;
  bottom: 4rem;
  font-size: 1.2rem;
  left: 35%;
  border: 0;
}
