.BuildControl {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-gap: 0.5rem;
    font-family: inherit;
}

.BuildControl button {
    background-color: #ffdba0;
    padding: 0;
    border: 0 solid black;
    cursor: pointer;
    width: 100%;
    height: 100%; 
    border-radius: 1rem;
    outline: none;
    font-weight: 500;
    font-size: 1rem;
   
}


.BuildControl .Selected {
    background-color: #ff8800;
    color: #fff;
    font-family: inherit;
}
.Section {
    font-size: inherit;
    margin: auto;
}

@media(min-width: 700px){
    .BuildControl button {
        font-size: inherit
    }
}
