.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.Price {
    display: flex;
    margin: 5px
}

.BuildControl button {
    display: inline-block;
    margin: 5px;
    background-color: bisque
}

.BuildControl .Selected {
    background-color: salmon
}