.Login {
    padding-top: 5rem;
    font-size: 4rem;
    display: flex;
    flex-direction: column;
}

.Login button:not(:disabled) {
    animation: none
}

.Button {
    background-color: #f0932b;
    border: 0 solid black;
    cursor: pointer;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    outline: none;
    text-decoration: none;
    text-align: center;
    color: black
}

.Spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.Spinner div div{
    background: rgb(255, 255, 255)
}

.Form {
    display: flex;
    flex-direction: column;
}

.LoginTitle {
    margin-bottom: 2rem;
}

@media(min-width: 1200px){
    .Login{
        min-width: 400px;
        font-size: 5rem;
    }
}