.Login {
    padding-top: 5rem;
    font-size: 4rem;
    display: flex;
    flex-direction: column;
}

.Login button:not(:disabled) {
    animation: none
}

.Button {
    background-color: #f0932b;
    border: 0 solid black;
    cursor: pointer;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    outline: none;
    text-decoration: none;
    text-align: center;
    color: black
}