.SignUp {
    font-size: 1.5rem;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 90%;
    justify-content: center;
}

.Title {
    font-size: 2rem;
    margin: 1rem;
}

.Spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.Spinner div div{
    background: rgb(255, 255, 255)
}


.SignUp button:not(:disabled) {
    animation: none
}

.BackButton {
    width: fit-content;
    margin-bottom: 5rem;
}

.ErrorMessage {
    position: absolute;
    /* top: 13rem; */
}