.SignUp {
    font-size: 1.5rem;
    padding-top: 5rem;
}

.Title {
    font-size: 2rem;
    margin: 1rem;
}

.Spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.Spinner div div{
    background: rgb(255, 255, 255)
}
