.SignUp {
    font-size: 1.2rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 90%;
    justify-content: center;
}

.Title {
    font-size: 2rem;
    margin: 1rem;
}

.Button {
    margin-top: 1rem;
}

.Spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.Spinner div div{
    background: rgb(255, 255, 255)
}

.Form {
    margin-bottom: 2rem;
}
.SignUp button:not(:disabled) {
    animation: none
}


@media(min-width: 500px){
    .SignUp{
        max-width: 400px;
        font-size: 2rem;
    } 
  
}
@media(min-width: 1200px){
    .BackButton {
        display: none;
        }
}