.Orders {
    font-size: 3rem;
    width: 100%;
    height: 100%;
    padding-top:8rem;
}

.Title {
    margin: 1rem;
    border-bottom: 1px solid grey
}


.Spinner {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 70%;
}