.NavItems {
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100%;
}

.UserName {
    padding: 1rem;
    font-size: 1rem;
}

.Loginout{
    background-color: #f0932b;
    margin: 0;
    border-radius: 15px;
}

@media (min-width: 1200px) {
    .NavItems {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start
    }
    .Loginout{
        background-color: #f0932b;
        border-radius: 15px;
        margin-left: 2rem;
    }
}