.NavItems {
    flex-direction: column;
    display: flex;
    align-items: center;
    max-width: 10rem;
}

.UserName {
    font-size: 1.5rem;
    max-width: 10rem;
    line-height: 2.5rem;
}

@media (min-width: 500px) {
    .NavItems {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap
    }
}