.DosirakBuilder {
    display: flex;
    /* border: 1px solid #ccc; */
    flex-direction: column;
    /* justify-content: space-between; */
    /* height: 100%; */
    padding-top: 4rem;
}

.TotalPrice {
    width:50%;
    font-weight: bold;
    font-size: 1.5rem;
    /* border: 1px solid #e67e22; */
    margin: auto 0;
    
}

.PriceAndOrderFlexContainer {
    display: flex;
    justify-content: space-around;
}
/* 적용안됨 왜? */
/* .OrderButton {
    width: 50%;
    background-color: #fff;
} */