.DosirakBuilder {
    display: flex;
    /* border: 1px solid #ccc; */
    flex-direction: column;
    /* justify-content: space-between; */
    height: 100%;
    width: 100%;
    margin-top: 6rem;
    box-sizing: border-box;
    
}

.TotalPrice {
    width:50%;
    font-weight: bold;
    font-size: 1.5rem;
    /* border: 1px solid #e67e22; */
    margin: auto 0;
    
}

.PriceAndOrderFlexContainer {
    display: flex;
    justify-content: space-around;
}
.LoadingBackdrop {
    position: fixed;
    z-index: 500;
}

@media(min-width: 700px){
    .DosirakBuilder {
        max-width: 70%;
    }

    .PriceAndOrderFlexContainer {
        display: flex;
        justify-content: space-around;
        font-size: 1.2rem;
    }
    .TotalPrice {
        font-size: inherit
    }
    .PriceAndOrderFlexContainer button {
        font-size: inherit
    }
}

@media(min-width: 1200px){
    .DosirakBuilder {
        max-width: 50%;
    }
}