.DosirakBuilder {
    display: flex;
    /* border: 1px solid #ccc; */
    flex-direction: column;
    /* justify-content: space-between; */
    height: 100%;
    width: 100%;
    margin-top: 6rem;
    box-sizing: border-box;
}

.TotalPrice {
    width:50%;
    font-weight: bold;
    font-size: 1.5rem;
    /* border: 1px solid #e67e22; */
    margin: auto 0;
    
}

.PriceAndOrderFlexContainer {
    display: flex;
    justify-content: space-around;
}
.LoadingBackdrop {
    position: fixed;
    z-index: 500;
}