/* .Grid {
    display: grid;
    grid-template-areas: 'header' 
                         'main'
                         'footer';
    height: 100%;
} */

.Content {
    /* grid-area: main; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box
}