.NavItem {
    padding: 0.5rem;
    font-size: 1.5rem;
    /* border-bottom: 1px solid black; */
    /* min-width: 2rem; */
    margin: 1rem;
}


.NavItem a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

/* .active {
    color: #f0932b
} */

@media(min-width: 1200px) {
    .NavItem {
        margin: 0px 1rem;
        border-bottom: none;
    }
    .NavItem a:link,
    .NavItem a:visited {
        color: rgb(255, 255, 255);
        transition: color 0.2s;

    }

    .NavItem a:hover,
    .NavItem a:active,
    .NavItem a.active{
        color: rgb(0, 0, 0);

      
    }
    
}