.NavItem {
    margin: 1rem 0;
    background-color: #6ab04c;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 10px;
}

.NavItem a {
    text-decoration: none;
    color: black;
    
}
.active {
    color: #f0932b
}

@media(min-width: 500px) {
    .NavItem {
        margin: 0px 1rem;
    }
    .NavItem a:hover,
    .NavItem a:active,
    .NavItem a.active{
        border-bottom: 2px solid black;
        padding-bottom: 3px;
    }
    
}